# TeX/LaTeX intermediates # 
########################### 
*.*~ 
*.aux
*.backup 
*.log 
*.tmp 
*.xref 
*.pdx 
*.pnd 
*.bbl 
*.bcf 
*.auto 
*.blg
*.md 
*.dvi 
*.glo 
*.out 
*.idx 
*.ilg 
*.ind 
*.idv 
*.4ct 
*.4tc 
*.lg 
*.lof
*.lot
*.xmpi 
*.tcp 
*.toc 
*.tps 
*blx.bib 
*.run.xml
*.synctex.gz
